@model IEnumerable<Application.eGreeting.Models.Card>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewBag.Message != null)
{
    <span class="success sweet-alert"> @ViewBag.Message</span>
}
@*<div>
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {

        <div class="form-inline">
            <input type="text" name="txtSearch" class="form-control" placeholder="Enter name card" />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    }
</div>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.NameCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td width="20%">
                <img src="~/ImageCard/@item.ImageName" alt="@item.ImageName" style="width:100%" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Select", "CreateTrans", new { id = item.CardId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
