@model PagedList.IPagedList<Application.eGreeting.Models.Card>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (ViewBag.Message != null)
{
    <span class="success sweet-alert"> @ViewBag.Message</span>
}
@using PagedList.Mvc;
@using PagedList;

<table class="table">
    <tr>
        <th>
            NameCard
        </th>
        <th>
            Category
        </th>
        <th>
            Image
        </th>
        <th>
            DateCreated
        </th>
        <th>
            Action
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.NameCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td width="20%">
                <img src="~/ImageCard/@item.ImageName" alt="@item.ImageName" style="width:100%" title="This is Happy Birthday" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Select", "CreateTrans", "User", new { id = item.CardId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions()
    {
        ContainerDivClasses = new[] { "Page", "navigation" },
        LiElementClasses = new List<string> { "page-item" }
    })
