@model IEnumerable<Application.eGreeting.Models.Feedback>

@{
    ViewBag.Title = "ManageFeedback";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    int i = 1;
}

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Username</th>
                        <th>Subject</th>
                        <th>Content</th>
                        <th>DataCreated</th>
                        <th>Function</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>i</td>
                            <td>@item.Username</td>
                            <td>@item.Subject</td>
                            <td>@item.Content</td>
                            <td>@item.DataCreated</td>
                            <td>
                                <a onClick="doDelete(@item.Id)" href="#" class="btn btn-danger btn-circle">
                                    <i style="color: #fff" class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
