@model PagedList.IPagedList<Application.eGreeting.Models.PaymentInfo>

@{
    ViewBag.Title = "ManagePurchase";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@using PagedList.Mvc
@using PagedList

<h2>Manage Purchase</h2>

<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Bank Name
        </th>
        <th>
            Bank Account
        </th>
        <th>
            Expired Date
        </th>
        <th>
            Date Created
        </th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Admin/EditUser/@item.UserId">@Html.DisplayFor(modelItem => item.UserName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateExpire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @if (item.IsActive)
                {
                    <span>Activated</span>
                }
                else
                {
                    <span>Not Activated</span>
                }
            </td>
            <td>
                @if (item.IsActive)
                {
                    <input type="button" value="Deactivate" class="btn btn-warning "/>
                }
                else
                {
                    <input type="button" value="Activate" class="btn btn-warning" onclick="active({Id:@item.PayId,IsActive:'@item.IsActive.ToString()'})"/>
                }
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("ManagePurchase", new { page, @class = "page-link" }), new PagedListRenderOptions()
    {
        ContainerDivClasses = new[] { "Page", "navigation" },
        LiElementClasses = new List<string> { "page-item" }
    })

<script>
    function active(obj) {
        Swal.fire({
            title: 'Are you sure?',
            text: "Active for User can use Subcribe services. ",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Yes, Active it!',
            cancelButtonColor: '#d33'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "/Admin/EditPayment/",
                    type: "POST",
                    data: {
                        Id: obj.Id,
                        IsActive: obj.IsActive,
                    },
                    //success: function (res) {
                    //    if (res) {
                    //        Swal.fire({
                    //            title: 'Delete success',
                    //            text: 'Successfully deleted!',
                    //            type: 'success'
                    //        }).then(() => {
                    //            location.reload();
                    //        });
                    //    }
                    //    else {
                    //        Swal.fire({
                    //            title: 'Delete failed',
                    //            text: 'An error occurred while deleting!',
                    //            type: 'error'
                    //        })
                    //    }
                    //}
                })
                //Swal.fire(
                //    'Deleted!',
                //    'Your file has been deleted!',
                //    'success'
                //)
            }
        })
    }
</script>